*{
    margin: 20;
    padding: 10;
    box-sizing: border-box;

}
body{
    font-family: 'Open Snas';
}   
header{
    background-color: #f2f2f2;
    padding: 20px 10;
    position: fixed;
    box-shadow: 1px 1px 5px ;
    
    width: 100%;
}
nav a{
    display: inline-block;
        text-decoration: none;
    color: #696969;
    margin: 0 30px;
    padding: 5px 15px;
    border-radius: 30px;
}
nav a:hover{
    background-color: #000;
    color: #fff;
}
.footer{background-color: #fff;
                padding: 10px;
                text-align: center;

 .topnav a:hover{background-color: #ECCEC8;
        color:black;}